<!-- templates/post-detail.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head %}
    {{ form.media }}
{% endblock head %}

{% block pageheader %}
  {% trans "Форум" %}
{% endblock pageheader %}

{% block content %}    
    <div class="box box-success">
        <div class="box-header">
            <h4 class="box-title">{% trans 'Публікація' %}</h4>
            <div class="box-tools pull-right">
                <a class="btn"
                    href="{% url 'post_list' post.topic_id %}"
                    role="button"
                    title={% trans 'Публікації' %}>
                    <i class="fa fa-list"></i>
                </a>
                {% if user.is_authenticated and user == post.author %}
                    <a class="btn"
                        href="{% url 'post_edit' pk=post.pk topic=post.topic_id %}"
                        role="button"
                        title={% trans 'Редагувати' %}>
                        <span style="color: green;">
                            <i class="fa fa-edit"></i>
                        </span>
                    </a>
                    <a class="btn"
                        href="{% url 'post_delete' post.pk %}"
                        role="button"
                        title={% trans 'Видалити' %}>
                        <span style="color: red;">
                            <i class="fa fa-trash"></i>
                        </span>
                    </a>
                {% endif %}
            </div>    
        </div>
        <div class="box-body with-border">
            <div class="user-block">
                {% with user=post.author %}
                    {% if post.topic.image %}
                        <img src="{{ post.topic.image.url }}" class="img-circle img-md" alt="" width="100%" height="100%">
                    {% else %}
                        <img src="{% static 'dist/img/theme.png' %}" class="img-circle img-md">
                    {% endif %}
                {% endwith %}
                <span class="username"><a href="{% url 'post_list' post.topic_id %}">{% trans "Тема " %}"{{ post.topic }}"</a></span>
                <span class="description">{{ post.topic.description }}</span>
            </div>             
        </div>
    </div>
   
    <div class="box box-widget">
        <div class="box-header with-border">
            <div class="user-block">
                {% with user=post.author %}
                    {% if user.image %}
                        <img src="{{ user.image.url }}" class="img-circle" title="{{ user.get_full_name }}">
                    {% else %}
                        {% if post.author is not None %}
                            <img src="{% static 'dist/img/avatar.png' %}" class="img-circle" title="{{ user.get_full_name }}">
                        {% else %} 
                            <img src="{% static 'dist/img/guest.jpg' %}" class="img-circle" title="{% trans 'Гість' %}">
                        {% endif %}
                    {% endif %}
                {% endwith %}
                <span class="username"><a href="#">{{ user.get_full_name }}</a></span>
                <span class="description">{% trans "Опубліковано" %} - {{ post.created }}</span>
            </div>             
        </div>
        <div class="box-body">
            <div class="attachment-block clearfix">
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="attachment-img" alt="Post image">
                {% else %}
                    <img src="{% static 'dist/img/post.png' %}" class="attachment-img">
                {% endif %}
                <div class="attachment-pushed">
                    <h4 class="attachment-heading">{{ post.title }}</h4>
                    <div class="attachment-text">
                        {{ post.preview }}
                    </div>
                    <div class="col-sm d-flex justify-content-end align-self-end">
                        <a class="btn btn-xs btn-primary mr-1"
                            href=""
                            title={% trans 'Перегляди' %}>
                            <i class="fa fa-eye"> | 
                                <span class="badge">
                                    {{ post.views }}    
                                </span>    
                            </i>
                        </a>
                        <a class="btn btn-xs btn-success mr-1"
                            href=""
                            title={% trans 'Вподобання' %}>
                            <i class="fa fa-thumbs-up"> | 
                                <span class="badge">
                                    {% if post.likes.exists %}
                                        {{ post.likes.count }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>
                            </i>
                        </a>
                        <a class="btn btn-xs btn-warning mr-1"
                            href=""
                            title={% trans 'Коментарі' %}>
                            <i class="fa fa-commenting-o"> | 
                                <span class="badge">
                                    {% if post.comments.exists %}
                                        {{ post.comments.count }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <p>{{ post.content|safe }}</p>
        </div>
        <div class="box-footer">
            <!-- Social sharing buttons -->
            <a class="btn btn-sm btn-primary mr-1"
                href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                target="_blank"
                rel="nofollow"
                title={% trans 'Facebook' %}>
                <i class="fa fa-facebook p-1"></i>
            </a>
            <a class="btn btn-sm btn-info mr-1"
                href="https://twitter.com/share?url={{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                target="_blank"
                rel="nofollow"
                title={% trans 'Twitter' %}>
                <i class="fa fa-twitter"></i>
            </a>
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-success mr-1"
                    href="{{ post.get_like_url }}"
                    rel="nofollow"
                    title={% trans 'Голос' %}>
                    {% if user in post.likes.all %}                      
                        <i class="fa fa-thumbs-up">
                            <i class="fa fa-check-circle"></i>
                        </i>
                    {% else %}
                        <i class="fa fa-thumbs-up"></i>
                    {% endif %}
                </a>
            {% endif %}
            <span class="pull-right text-muted">
                {% if post.comments.exists %}{{ post.comments.count }}{% else %}0{% endif %}{% trans ' коментарі(в)' %}
            </span>
        </div>
    </div>
        
    <div class="box box-success">
        <div class="box-body">  
            <div class="accordion" id="accordionComment">
                <button class="btn btn-xs btn-warning" type="button" data-toggle="collapse" data-target="#collapseComment" aria-expanded="true" aria-controls="collapseComment">{% trans "Залишити свій коментар" %}</button>
                <div class="box box-solid">
                    <div id="collapseComment" class="collapse" aria-labelledby="headingComment" data-parent="#accordionComment">
                        <div class="box-body border-top">
                            <form action="" method='POST'>
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="form-label-group">
                                        {{ form.post }}
                                        <small>{{ form.content|add_class:'form-control'|attr:'rows:1' }}</small>
                                    </div>
                                </div>
                                <button class="btn btn-xs btn-warning" type="submit" name="submit">{% trans 'Відправити' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer box-comments">           
            {% for comment in post.comments.all %}
                {% if comment.parent is Null %}
                    <div class="box-comment">
                                                                        
                        {% with user=comment.author %}
                            {% if user.image %}
                                <img src="{{ user.image.url }}" class="img-circle img-sm"
                                width="32" height="32" title="{{ user.get_full_name }}">
                            {% else %}
                                {% if comment.author is not None %}
                                    <img src="{% static 'dist/img/avatar.png' %}" class="img-circle img-sm"
                                    width="32" height="32" title="{{ user.get_full_name }}">
                                {% else %} 
                                    <img src="{% static 'dist/img/guest.jpg' %}" class="img-circle img-sm"
                                    width="32" height="32" title="{% trans 'Гість' %}">
                                {% endif %}
                            {% endif %}
                        {% endwith %}                                                            
                        
                        <div class="comment-text">                           
                            <span class="username">
                                <i class="fa fa-commenting"></i>
                                {% if comment.author is not None %}
                                    {{ comment.author }}
                                {% else %}
                                    {% trans 'Гість' %}
                                {% endif %}                               
                                <span class="text-muted pull-right">{{ comment.created|date:'d.m.Y H:i' }}</span>
                            </span>                          
                            {{ comment.content }}
                                
                            <div class="accordion" id="accordionReply">
                                <button class="btn btn-xs btn-warning" type="button" data-toggle="collapse" data-target="#collapseReply{{ comment.id }}" aria-expanded="true" aria-controls="collapseReply{{ comment.id }}">{% trans "Відповісти" %}</button>
                                <div class="box box-solid">
                                    <div id="collapseReply{{ comment.id }}" class="collapse" aria-labelledby="headingReply" data-parent="#accordionReply">
                                        <div class="box-body border-top">
                                            <form action="" method='POST'>
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        {{ form.post }}
                                                        <small>{{ form.content|add_class:'form-control'|attr:'rows:1' }}</small>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                <button class="btn btn-xs btn-warning" type="submit" name="submit">{% trans 'Відправити' %}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                                {% for reply in comment.replies.all %}                                                                                                                          
                                    {% with user=reply.author %}
                                        {% if user.image %}
                                            <img src="{{ user.image.url }}" class="img-circle img-sm"
                                            width="32" height="32" title="{{ user.get_full_name }}">
                                        {% else %}
                                            {% if reply.author is not None %}
                                                <img src="{% static 'dist/img/avatar.png' %}" class="img-circle img-sm"
                                                width="32" height="32" title="{{ user.get_full_name }}">
                                            {% else %} 
                                                <img src="{% static 'dist/img/guest.jpg' %}" class="img-circle img-sm"
                                                width="32" height="32" title="{% trans 'Гість' %}">
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}                                                                                               
                                    <div class="comment-text">
                                        <span class="username">                                                                                                  
                                            <i class="fa fa-comments"></i>                                           
                                            {% if reply.author is not None %}
                                                {{ reply.author }}
                                            {% else %}
                                                {% trans 'Гість' %}
                                            {% endif %}
                                            <span class="text-muted pull-right">{{ reply.created|date:'d.m.Y H:i' }}</span>
                                        </span>                                                   
                                        {{ reply.content }}                                      
                                    </div>                                    
                                {% endfor %}
                            </div>                              
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <small>{% trans 'Коментарі до публікації відсутні' %}</small>
            {% endfor %}        
        </div>
    </div>
{% endblock %}
    
