<!-- templates/references/company_create.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block pageheader %}
    {% trans "Компанії" %}
{% endblock pageheader %}

{% block breadcrumb %}
    <li class="">{% trans "Компанії" %}</li>
    <li class="active">{% trans "Створення" %}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-file-text-o"></i>
            <h3 class="box-title">{% trans "Нова компанія" %}</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="">
                <div class="btn-group">
                    <a class="btn btn-warning"
                        href="{% url 'company_list' %}"
                        title={% trans 'Перелік' %}>
                        <i class="fa fa-list"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group">
                <form method='post'>
                    {% csrf_token %}
                    {% crispy form %}              
                    <div class="buttonHolder mt-3">
                        <input type="submit" name="submit" value={% trans "Зберегти" %} class="btn btn-success" id="submit-id-submit">
                        <a class="btn btn-default" href="{% url 'company_list' %}">{% trans "Відмінити" %}</a>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}
