<!-- templates/references/customs.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block CSS %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'bower_components/datatables/datatables.min.css' %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.11.3/r-2.2.9/datatables.min.css"/> {% endcomment %}
{% endblock CSS %}

{% block pageheader %}
    {% trans "Митні органи" %}
{% endblock pageheader %}

{% block breadcrumb %}
    <li class="active">{% trans "Митні органи" %}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-building"></i>
            <h3 class="box-title">{% trans "Довідник митних органів" %}</h3>
        </div>
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover table-striped dataTable dt-responsive">
                <thead>
                    <tr>
                        <th>{% trans "Код" %}</th>
                        <th>{% trans "Ознака" %}</th>
                        <th>{% trans "Назва" %}</th>
                        <th>{% trans "Область" %}</th>
                        <th>{% trans "Пункт" %}</th>
                        <th>{% trans "Індекс" %}</th>
                        <th>{% trans "Назва вулиці" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for office in customs %}
                        <tr>                           
                            <td>{{ office.office_code }}</td>
                            <td>{{ office.office_attr }}</td>
                            <td>{{ office.office_name }}</td>
                            <td>{{ office.office_region }}</td>
                            <td>{{ office.office_locality }}</td>
                            <td>{{ office.office_zip }}</td>
                            <td>{{ office.office_address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block JS %}
    <!-- DataTable -->
    <script src="{% static 'bower_components/datatables/datatables.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#example2').DataTable({
                'language': {
                    "lengthMenu": "Відобразити _MENU_ записів на сторінку",
                    "zeroRecords": "Нічого не знайдено - вибачте",
                    "info": "Сторінка _PAGE_ з _PAGES_",
                    "infoEmpty": "Записи відсутні",
                    "infoFiltered": "(відфільтровано з _MAX_ записів)",
                    "search": "Пошук:",
                    "paginate": {
                        "first":      "Перша",
                        "last":       "Остання",
                        "next":       "Наступна",
                        "previous":   "Попередня"
                    },
                },
                'paging'      : true,
                'lengthChange': true,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                
                'responsive'  : true
                    
                                
            })
        })
    </script>
{% endblock JS %}


