<!-- templates/references/regimes.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block CSS %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'bower_components/datatables/datatables.min.css' %}">
{% endblock CSS %}

{% block pageheader %}
    {% trans "Митні режими" %}
{% endblock pageheader %}

{% block breadcrumb %}
    <li class="active">{% trans "Митні режими" %}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-arrows-alt"></i>
            <h3 class="box-title">{% trans "Класифікатор митних режимів" %}</h3>
        </div>
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Код режиму" %}</th>
                        <th>{% trans "Назва" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for regime in regimes %}
                        <tr>
                            <td>{{ regime.code }}</td>
                            <td>{{ regime.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block JS %}
    <!-- DataTable -->
    <script src="{% static 'bower_components/datatables/datatables.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#example2').DataTable({
                'language': {
                    "lengthMenu": "Відобразити _MENU_ записів на сторінку",
                    "zeroRecords": "Нічого не знайдено - вибачте",
                    "info": "Сторінка _PAGE_ з _PAGES_",
                    "infoEmpty": "Записи відсутні",
                    "infoFiltered": "(відфільтровано з _MAX_ записів)",
                    "search": "Пошук:",
                    "paginate": {
                        "first":      "Перша",
                        "last":       "Остання",
                        "next":       "Наступна",
                        "previous":   "Попередня"
                    },
                },
                'paging'      : true,
                'lengthChange': true,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                'responsive'  : true
            })
        })
    </script>
{% endblock JS %}


