{% load i18n %}

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a
        href="#"
        class="sidebar-toggle"
        data-toggle="push-menu"
        role="button"
    >
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            
            <!-- User Account Menu -->
            {% if user.is_authenticated %}
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a
                        href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span style="text-transform:uppercase;">
                            {% trans "вітаємо, " %} {{ user.first_name }}
                            
                        </span>
                    </a>
                </li>
            
                {% if user.is_superuser %}
                    <!-- Site Button -->
                    <li>
                        <a href="{% url 'admin:index' %}" title={% trans "Адмінпанель" %}>
                            <i class="fa fa-gears"></i>
                        </a>
                    </li>                
                {% endif %}
                
                <li>
                    <a href="https://www.facebook.com/pentadatrans" target="_blank" title={% trans "Facebook" %}>
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/pentada_bot" target="_blank" title="Telegram-bot">
                        <i class="fa fa-paper-plane"></i>
                    </a>
                </li>
                <!-- Site Button -->
                <li>
                    <a href="https://pentada-trans.com" title="Сайт">
                        <i class="fa fa-globe"></i>
                    </a>
                </li>
                
                <!-- Logout Button -->
                <li>
                    <a href="{% url 'logout' %}" title="Вийти">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>