<!-- templates/orders/order_list.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block CSS %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock CSS %}

{% block pageheader %}
    {% trans "Заявки" %}
{% endblock pageheader %}

{% block breadcrumb %}
    <li class="active">{% trans "Заявки" %}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-file-text-o"></i>
            <h3 class="box-title">{% trans "Перелік оформлених заявок" %}</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="">
                <div class="btn-group">
                    <a class="btn btn-warning"
                        href="{% url 'order_list' %}"
                        title={% trans 'Оновити' %}>
                        <i class="fa fa-retweet"></i>
                    </a>
                    <a class="btn btn-success"
                        href="{% url 'order_create' %}"
                        title={% trans 'Створити' %}>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>{% trans "№" %}</th>
                        <th>{% trans "Режим" %}</th>
                        <th>{% trans "Транспорт" %}</th>
                        <th>{% trans "Перевізник" %}</th>
                        <th>{% trans "Товар" %}</th>
                        <th>{% trans "Дата" %}</th>
                        <th>{% trans "Інструменти" %}</th>
                    </tr>
                </thead>                
                <tbody>
                    {% for order in object_list %}
                        <tr>                           
                            <td>{{ order.order_number }}</td>
                            <td>{{ order.order_regime }}</td>
                            <td>{{ order.order_vehicle }}</td>
                            <td>{{ order.exporter_name }}</td>
                            <td>{{ order.cargo_name }}</td>
                            <td>{{ order.order_created }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-info"
                                        href=""
                                        title={% trans 'Переглянути' %}>
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a class="btn btn-sm btn-warning"
                                        href=""
                                        title={% trans 'Редагувати' %}>
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-sm btn-success"
                                        href=""
                                        title={% trans 'Копіювати' %}>
                                        <i class="fa fa-copy"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger"
                                        href=""
                                        title={% trans 'Видалити' %}>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block JS %}
    <!-- DataTable -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#example2').DataTable({
                'language': {
                    "lengthMenu": "Відобразити _MENU_ записів на сторінку",
                    "zeroRecords": "Нічого не знайдено - вибачте",
                    "info": "Сторінка _PAGE_ з _PAGES_",
                    "infoEmpty": "Записи відсутні",
                    "infoFiltered": "(відфільтровано з _MAX_ записів)",
                    "search": "Пошук:",
                    "paginate": {
                        "first":      "Перша",
                        "last":       "Остання",
                        "next":       "Наступна",
                        "previous":   "Попередня"
                    },
                },
                'paging'      : true,
                'lengthChange': true,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                
            })
        })
    </script>
{% endblock JS %}


