<!DOCTYPE html>

{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЗАЯВКА</title>
</head>
<style>
    body {
        font-family: "Times New Roman","sans-serif";
    }
    table.MsoNormalTable
        {
            width:680px;
            padding:0cm 0cm 0cm 0cm;
            margin:0cm;
            border:none;
            font-size:10.0pt;
        }
    table.MsoGoodsTable
        {
            width:680px;
            padding:0cm 0cm 0cm 0cm;
            margin:0cm;
            border:solid 1.0pt;
            font-size:10.0pt;
        }
    td.MsoGoods
        {
            border:solid 1.0pt;
        }
    p.MsoNormal, li.MsoNormal, div.MsoNormal
        {               
            margin:0cm 0cm 0cm 0cm;
            padding:0cm 0cm 0cm 0cm;
            line-height:normal;
            font-size:11.0pt;
        }
</style>
<body>
    <div style="text-align:center;">
        <h4><b>{% trans "ЗАЯВКА №" %}{{object.order_number}}{% trans " від " %}{{object.order_created}}</b></h4>
        <h5><b>{% trans "до Договору про надання послуг з видачі фінансових гарантій" %}</b></h4></h5>
        <h5> 
            {% blocktrans %}
                ГАРАНТ: Незалежний фінансовий посередник - ПТ "ПЕНТАДА ТРАНС 
                (код ЄДРПОУ 36701373, адреса: 04073, м. Київ, вул. Вікентія Хвойки, 
                будинок 21, офіс 360, контактні дані +38 (067) 447 60 66
            {% endblocktrans %}
        </h5>
    </div>
    <hr>
    <div align=center>
        <table>
            <tr>
                <td width=340 vertical-align=top>
                    <h3>{% trans "Клієнт" %}</h3>
                    <p><b>{% trans "Назва: " %}</b>{{user.company_name}}</p>
                    <p><b>{% trans "ЄДРПОУ: " %}</b>{{user.company_code}}</p>
                    <p><b>{% trans "Адреса: " %}</b>{{user.company_address}}</p>
                    <p><b>{% trans "Контактний телефон: " %}</b>{{user.phone}}</p>
                </td>
                <td width=340 vertical-align=top>
                    <h3>{% trans "Вид послуги" %}</h3>
                    <p>
                        {% if object.warranty_type.id == 1 %}
                            <span>&#9745;</span>
                        {% else %}
                            <span>&#9744;</span>
                        {% endif %}                       
                        {% trans "Стандарт" %}
                    </p>
                    <p>
                        {% if object.warranty_type.id == 2 %}
                            <span>&#9745;</span>
                        {% else %}
                            <span>&#9744;</span>
                        {% endif %}   
                        {% trans "Універсальний" %}                    
                    </p>
                    <p>
                        {% if object.warranty_type.id == 3 %}
                            <span>&#9745;</span>
                        {% else %}
                            <span>&#9744;</span>
                        {% endif %}   
                        {% trans "Ліміт без обмежень" %}                    
                    </p>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>{% trans "1. Учасники процедури" %}</h3>
                    <p><b>{% trans "Бенефіціар: " %}</b>{{object.customs}}</p>
                    <p><b>{% trans "Принципал: " %}</b>{{object.principal}} ({% trans "ЄДРПОУ: " %}{{object.principal.code}}{% trans ", Адреса: " %}{{object.principal.address}})</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </td>
                <td>
                    <h3>{% trans "2. Процедура гарантування" %}</h3>
                    <p><b>{% trans "Процедура: " %}</b>{{object.procedure.code}} | {{object.procedure.name}}</p>
                    <p><b>{% trans "Митний режим: " %}</b>{{object.regime}} | {{object.regime.name}}</p>
                    <p><b>{% trans "Митниця відправлення: " %}</b>{{object.customs_departure}}</p>
                    <p><b>{% trans "Митниця призначення: " %}</b>{{object.customs_destination}}</p>
                    <p><b>{% trans "Транспортний засіб: " %}</b>{{object.vehicle}}</p>
                    <p><b>{% trans "Строк дії гарантії: " %}</b>{{object.expired_date}}</p>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div>
        <h3>{% trans "3. Інформація про товари" %}</h3>
        <table class="table" style="border:solid 1.0pt;">
            <thead>
                <tr>
                    <th>{% trans "№" %}</th>
                    <th>{% trans "Найменування" %}</th>
                    <th>{% trans "УКТЗЕД" %}</th>
                    <th>{% trans "Вага, кг" %}</th>
                    <th>{% trans "Кількість" %}</th>
                    <th>{% trans "Платежі, грн" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object.get_goods  %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.number}}</td>
                    <td>{{item.addnumber}}</td>
                    <td>{{item.duties}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><b>{% trans "Всього:" %}</b></td>
                    <td></td>
                    <td><b>{{order.goods_total_number}}</b></td>
                    <td></td>
                    <td><b>{{order.goods_total_duties}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div>
        <h3>{% trans "4. Товаротранспортні документи" %}</h3>
        <table class="table" style="border:solid 1.0pt;">
            <thead>
                <tr>
                    <th>{% trans "№" %}</th>
                    <th>{% trans "Найменування" %}</th>
                    <th>{% trans "Файл" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in object.get_docs  %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{doc.doc_name}}</td>
                    <td>{{doc.doc_file.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <p><b>{% trans "Виконавець: " %}</b></p>
        <h4>{{object.user.get_full_name}}</h4>
        <p>{{object.user.position}}</p>
        <p>{{object.user.company_name}}
        
    </div>   
</body>
</html>