<!-- templates/orders/order_list.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block CSS %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'bower_components/datatables/datatables.min.css' %}">
{% endblock CSS %}

{% block pageheader %}
    {% trans "Заявки" %}
{% endblock pageheader %}

{% block breadcrumb %}
    <li class="active">{% trans "Заявки" %}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-file-text-o"></i>
            <h3 class="box-title">{% trans "Перелік заявок" %}</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="">
                <div class="btn-group">
                    <a class="btn btn-small"
                        href="{% url 'order_list' %}"
                        title={% trans 'Оновити' %}>
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="btn btn-small"
                        href="{% url 'order_create' %}"
                        title={% trans 'Створити' %}>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th data-priority="3">{% trans "№" %}</th>
                        <th data-priority="2">{% trans "Дата" %}</th>
                        <th>{% trans "Послуга" %}</th>
                        <th>{% trans "Бенефіціар" %}</th>
                        <th>{% trans "Принципал" %}</th>
                        <th>{% trans "Процедура" %}</th>
                        <th>{% trans "Відправлення" %}</th>
                        <th>{% trans "Призначення" %}</th>
                        <th>{% trans "Транспорт" %}</th>
                        <th>{% trans "Строк" %}</th>
                        <th data-priority="1"><i class="fa fa-gears"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in object_list %}
                        <tr>
                            <td>{{ order.order_number }}</td>
                            <td>{{ order.order_created|date:'d.m.Y' }}</td>
                            <td>{{ order.warranty_type }}</td>
                            <td>{{ order.customs.office_code }}</td>
                            <td>{{ order.principal }}</td>
                            <td>{{ order.procedure.code }}</td>
                            <td>{{ order.customs_departure.office_code }}</td>
                            <td>{{ order.customs_destination.office_code }}</td>
                            <td>{{ order.vehicle.vehicle_code }}</td>
                            <td>{{ order.expired_date|date:'d.m.Y' }}</td>
                            <td>
                                <div class="dropup">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li>
                                            <a  href="{% url 'order_email' pk=order.pk %}">
                                                <span style="color: purple;">
                                                    <i class="fa fa-share-square-o"></i>
                                                </span>
                                                {% trans 'Відправити' %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'order_detail' pk=order.pk %}">
                                                <span style="color: blue;">
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                                {% trans 'Переглянути' %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'order_update' pk=order.pk %}">
                                                <span style="color: orange;">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                {% trans 'Редагувати' %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'order_copy' pk=order.pk %}">
                                                <span style="color: green;">
                                                    <i class="fa fa-copy"></i>
                                                </span>
                                                {% trans 'Копіювати' %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'order_delete' pk=order.pk %}">
                                                <span style="color: red;">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                                {% trans 'Видалити' %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block JS %}
    <!-- DataTable -->
    <script src="{% static 'bower_components/datatables/datatables.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#example2').DataTable({
                'language': {
                    "lengthMenu": "Відобразити _MENU_ записів на сторінку",
                    "zeroRecords": "Нічого не знайдено - вибачте",
                    "info": "Сторінка _PAGE_ з _PAGES_",
                    "infoEmpty": "Записи відсутні",
                    "infoFiltered": "(відфільтровано з _MAX_ записів)",
                    "search": "Пошук:",
                    "paginate": {
                        "first":      "Перша",
                        "last":       "Остання",
                        "next":       "Наступна",
                        "previous":   "Попередня"
                    },
                },
                'paging'      : true,
                'lengthChange': true,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                'responsive'  : true
            })
        })
    </script>
{% endblock JS %}


